.DashLogoLink{
  text-decoration: none;
  color: white;
  font-size: 25px;
}
.DashLogoLink:focus{
  color: #00067f ;
}
.navLink{
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.navLink:focus{
  color: #00067f ;
}

.homeLink{
  background-color: lightcoral; 
  width: 150px;
  border-radius: 10px;
}

.email{
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  color: #0035da; 
  font-weight: bold;
  font-size: 20px;
}
@media screen and (max-width: 330px) {
  .email{
    font-size: 16px;
  }
}